<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

        <!-- Camera Calibration Parameters -->
        <!-- Head Left Eye Camera  in HEAD_JOINT1 Link frame -->
        <xacro:property name="jnt_head_to_leye_xyz" value="0.02500 0.07000 0.10000" />
        <xacro:property name="jnt_head_to_leye_rpy" value="-${radians(104.95)} -${radians(1.29)} -${radians(94.83)}" />

        <!-- Head Right eye Camera Frame in Left Eye Camera frame -->
        <xacro:property name="jnt_leye_to_reye_xyz" value="0.13947 0.00000 0.01220" />
        <xacro:property name="jnt_leye_to_reye_rpy" value="0.0 -${radians(10)} 0.0" />

        <!-- TODO: Later adapt the hand camera info using xacro:camera_joint_link_gzplugin2 -->
        <xacro:property name="jnt_hand_camera_displacement_x" value="0.0525" />
        <xacro:property name="jnt_hand_camera_displacement_y" value="0.0525" />
        <xacro:property name="jnt_hand_camera_displacement_z" value="0.0" />
        <xacro:property name="jnt_hand_camera_rot_y" value="1.5708" />
        <xacro:property name="link_hand_camera_rot_z" value="0.0" />

</robot>